<div class="flex justify-around bg-white p-8 rounded-[30px] shadow-sm">
  <!-- Total Customers -->
  <div class="grid grid-cols-2">
    <div class="mr-6">
      <div class="bg-green-100 h-[84px] w-[84px] rounded-full flex justify-center items-center">
        <mat-icon svgIcon="users" class="text-green-600 stats-icon" />
      </div>
    </div>
    <div>
      <p class="text-sm text-customGreyFont">Total Customers</p>
      <p class="text-3xl font-semibold mt-2">{{ statsCards.totalCustomer | number }}</p>
      <app-percentage-indicator [indicator]="statsCards.customerPercentage" />
    </div>
  </div>

  <div class="border-solid border-r-[1px] border-grey-50"></div>
  <!-- Members -->
  <div class="grid grid-cols-2">
    <div class="mr-6">
      <div class="bg-green-100 h-[84px] w-[84px] rounded-full flex justify-center items-center">
        <mat-icon svgIcon="user-verified" class="text-green-600 stats-icon" />
      </div>
    </div>
    <div>
      <p class="text-sm text-customGreyFont">Members</p>
      <p class="text-3xl font-semibold mt-2">{{ statsCards.totalMembers | number }}</p>
      <app-percentage-indicator [indicator]="statsCards.membersPercentage" />
    </div>
  </div>

  <div class="border-solid border-r-[1px] border-grey-50"></div>

  <!-- Active Now -->
  <div class="grid grid-cols-2">
    <div class="mr-6">
      <div class="bg-green-100 h-[84px] w-[84px] rounded-full flex justify-center items-center">
        <mat-icon svgIcon="monitor" class="text-green-600 stats-icon" />
      </div>
    </div>
    <div>
      <p class="text-sm text-customGreyFont">Active Now</p>
      <p class="text-3xl font-semibold mt-2">{{ statsCards.totalUserActive | number }}</p>
      <div class="flex mt-2">
        @for (user of statsCards.userActives; track user.fullname) {
        <img
          [src]="user.picture | userPicture"
          [alt]="user.fullname"
          [matTooltip]="user | userRole"
          class="w-6 h-6 rounded-full border-2 border-white -ml-2 cursor-pointer" />
        }
      </div>
    </div>
  </div>
</div>
