<div class="flex justify-around bg-white p-8 rounded-[30px] shadow-sm">
  <!-- Total Customers -->
  <div class="grid grid-cols-2">
    <div class="mr-6">
      <div class="bg-green-100 h-[84px] w-[84px] rounded-full flex justify-center items-center">
        <mat-icon svgIcon="users" class="text-green-600 stats-icon" />
      </div>
    </div>
    <div>
      <p class="text-sm text-[#ACACAC]">Total Customers</p>
      <p class="text-3xl font-semibold mt-2">5,423</p>
      <div class="text-black mt-1 text-sm flex justify-center items-center">
        <div class="text-green-600 font-semibold flex justify-center items-center">
          <mat-icon svgIcon="arrow" class="arrow" />
          16%
        </div>
        this month
      </div>
    </div>
  </div>

  <div class="border-solid border-r-[1px] border-grey-50"></div>
  <!-- Members -->
  <div class="grid grid-cols-2">
    <div class="mr-6">
      <div class="bg-green-100 h-[84px] w-[84px] rounded-full flex justify-center items-center">
        <mat-icon svgIcon="user-verified" class="text-green-600 stats-icon" />
      </div>
    </div>
    <div>
      <p class="text-sm text-[#ACACAC]">Members</p>
      <p class="text-3xl font-semibold mt-2">1,893</p>
      <div class="text-black mt-1 text-sm flex justify-center items-center">
        <div class="text-red-600 font-semibold flex justify-center items-center">
          <mat-icon svgIcon="arrow" class="arrow rotate-180" />
          1%
        </div>
        this month
      </div>
    </div>
  </div>

  <div class="border-solid border-r-[1px] border-grey-50"></div>

  <!-- Active Now -->
  <div class="grid grid-cols-2">
    <div class="mr-6">
      <div class="bg-green-100 h-[84px] w-[84px] rounded-full flex justify-center items-center">
        <mat-icon svgIcon="monitor" class="text-green-600 stats-icon" />
      </div>
    </div>
    <div>
      <p class="text-sm text-[#ACACAC]">Active Now</p>
      <p class="text-3xl font-semibold mt-2">123</p>
      <div class="flex mt-2">
        <img src="/images/users/brian.jpeg" alt="User" class="w-6 h-6 rounded-full border-2 border-white -ml-2" />
        <img src="/images/users/eric.jpeg" alt="User" class="w-6 h-6 rounded-full border-2 border-white -ml-2" />
        <img src="images/users/katherine.jpeg" alt="User" class="w-6 h-6 rounded-full border-2 border-white -ml-2" />
        <img src="images/users/lynn.jpeg" alt="User" class="w-6 h-6 rounded-full border-2 border-white -ml-2" />
        <img src="/images/users/willie.jpeg" alt="User" class="w-6 h-6 rounded-full border-2 border-white -ml-2" />
      </div>
    </div>
  </div>
</div>
