<div class="mt-10 flex justify-between items-center">
  <span class="text-sm text-customGreyFont">Showing data 1 to 8 of 256K entries</span>
  <div class="flex space-x-2">
    <button class="bg-gray-100 py-1 px-3 rounded-lg text-sm">&lt;</button>
    <button class="bg-gray-100 py-1 px-3 rounded-lg text-sm">1</button>
    <button class="bg-gray-100 py-1 px-3 rounded-lg text-sm">2</button>
    <button class="bg-gray-100 py-1 px-3 rounded-lg text-sm">3</button>
    <span class="py-1">...</span>
    <button class="bg-gray-100 py-1 px-3 rounded-lg text-sm">40</button>
    <button class="bg-gray-100 py-1 px-3 rounded-lg text-sm">&gt;</button>
  </div>
</div>
