<aside class="w-80 bg-white p-5 h-full">
  <div class="flex items-center mb-8">
    <mat-icon alt="Dashboard logo" class="w-10 h-10 mr-2" svgIcon="logo" />
    <span class="text-lg font-bold">CRM Dashboard</span>
  </div>
  <nav class="space-y-4">
    <a routerLink="/home" class="flex items-center text-blueGray-400" routerLinkActive="active">
      <mat-icon class="w-6 h-6 m-2" svgIcon="key" />
      <span>Dashboard</span>
    </a>
    <a routerLink="/product" class="flex items-center" routerLinkActive="active">
      <mat-icon class="w-6 h-6 m-2" svgIcon="cube" />
      <span>Product</span>
    </a>
    <a routerLink="/customers" class="flex items-center" routerLinkActive="active">
      <mat-icon class="w-6 h-6 m-2" svgIcon="user" />
      <span>Customers</span>
    </a>
    <a routerLink="/income" class="flex items-center" routerLinkActive="active">
      <mat-icon class="w-6 h-6 m-2" svgIcon="wallet" />
      <span>Income</span>
    </a>
    <a routerLink="/promote" class="flex items-center" routerLinkActive="active">
      <mat-icon class="w-6 h-6 m-2" svgIcon="promote" />
      <span>Promote</span>
    </a>
    <a routerLink="/help" class="flex items-center" routerLinkActive="active">
      <mat-icon class="w-6 h-6 m-2" svgIcon="help" />
      <span>Help</span>
    </a>
  </nav>
</aside>
