<div class="min-h-screen bg-white h-full hidden lg:flex lg:flex-col">
  <main class="flex-grow h-full">
    <aside class="w-80 p-7 sidebar sticky top-0" [class.closed]="!isExpanded">
      <button
        class="flex items-center mb-8"
        [class.closed-logo]="!isExpanded"
        (click)="toggleSidebar()"
        matTooltip="CRM - Toolbar"
        matTooltipPosition="right"
        [matTooltipDisabled]="isExpanded">
        <mat-icon alt="Dashboard logo" class="w-10 h-10 ml-2 mr-2" svgIcon="logo" />
        <span class="text-lg font-bold menu-text" *ngIf="isExpanded">CRM Dashboard</span>
      </button>
      <nav class="space-y-4">
        @for (menuItem of menuItems; track menuItem.title) {
        <a [routerLink]="menuItem.route" class="flex items-center" routerLinkActive="active">
          <mat-icon
            class="w-6 h-6 m-2 ml-[9px]"
            [svgIcon]="menuItem.icon"
            [matTooltip]="menuItem.title"
            matTooltipPosition="right"
            [matTooltipDisabled]="isExpanded" />
          @if(isExpanded){
          <span class="menu-text">{{ menuItem.title }}</span>
          <mat-icon class="mr-1 rotate-[270deg]" svgIcon="chevron-down" />
          }
        </a>
        }
      </nav>
    </aside>
  </main>
  <footer class="bg-white sticky bottom-5 pl-6 flex flex-col">
    <div class="flex items-center mt-2">
      <img
        [src]="user.picture | userPicture"
        alt="User"
        class="w-11 h-11 rounded-full cursor-pointer"
        [matTooltip]="user | userRole"
        matTooltipPosition="right"
        [matTooltipDisabled]="isExpanded" />
      <div *ngIf="isExpanded" class="flex flex-col ml-3 mt-1">
        <span class="text-sm">{{ user.fullname }}</span>
        <span class="text-xs text-customGreyFont">{{ user.role }}</span>
      </div>
    </div>
    <button class="mt-4 p-2" (click)="toggleSidebar()" matTooltip="Toggle Sidebar" matTooltipPosition="right">
      @if(isExpanded){
      <mat-icon svgIcon="chevron-left" />
      }@else{
      <mat-icon svgIcon="chevron-right" />
      }
    </button>
  </footer>
</div>

<app-spinner-overlay [displayProgressSpinner]="(loading$ | async) ?? false" />
