<div class="flex flex-col min-h-screen bg-white h-full">
  <main class="flex-grow h-full">
    <aside class="w-80 p-7 sidebar" [class.closed]="!isExpanded">
      <button
        class="flex items-center mb-8"
        [class.closed-logo]="!isExpanded"
        (click)="toggleSidebar()"
        matTooltip="CRM - Toolbar"
        matTooltipPosition="right"
        [matTooltipDisabled]="isExpanded">
        <mat-icon alt="Dashboard logo" class="w-10 h-10 ml-2 mr-2" svgIcon="logo" />
        <span class="text-lg font-bold menu-text" *ngIf="isExpanded">CRM Dashboard</span>
      </button>
      <nav class="space-y-4">
        <a routerLink="/home" class="flex items-center" [class.closed-item]="!isExpanded" routerLinkActive="active">
          <mat-icon class="w-6 h-6 m-2 ml-[9px]" svgIcon="key" matTooltip="Dashboard" matTooltipPosition="right" [matTooltipDisabled]="isExpanded" />
          <span class="menu-text" *ngIf="isExpanded">Dashboard</span>
        </a>
        <a routerLink="/product" class="flex items-center" routerLinkActive="active">
          <mat-icon class="w-6 h-6 m-2 ml-[9px]" svgIcon="cube" matTooltip="Product" matTooltipPosition="right" [matTooltipDisabled]="isExpanded" />
          <span class="menu-text" *ngIf="isExpanded">Product</span>
        </a>
        <a routerLink="/customers" class="flex items-center" routerLinkActive="active">
          <mat-icon class="w-6 h-6 m-2 ml-[9px]" svgIcon="user" matTooltip="Customers" matTooltipPosition="right" [matTooltipDisabled]="isExpanded" />
          <span class="menu-text" *ngIf="isExpanded">Customers</span>
        </a>
        <a routerLink="/income" class="flex items-center" routerLinkActive="active">
          <mat-icon class="w-6 h-6 m-2 ml-[9px]" svgIcon="wallet" matTooltip="Income" matTooltipPosition="right" [matTooltipDisabled]="isExpanded" />
          <span class="menu-text" *ngIf="isExpanded">Income</span>
        </a>
        <a routerLink="/promote" class="flex items-center" routerLinkActive="active">
          <mat-icon
            class="w-6 h-6 m-2 ml-[9px]"
            svgIcon="promote"
            matTooltip="Promote"
            matTooltipPosition="right"
            [matTooltipDisabled]="isExpanded" />
          <span class="menu-text" *ngIf="isExpanded">Promote</span>
        </a>
        <a routerLink="/help" class="flex items-center" routerLinkActive="active">
          <mat-icon class="w-6 h-6 m-2 ml-[9px]" svgIcon="help" matTooltip="Help" matTooltipPosition="right" [matTooltipDisabled]="isExpanded" />
          <span class="menu-text" *ngIf="isExpanded">Help</span>
        </a>
      </nav>
    </aside>
  </main>
  <footer class="bg-white sticky bottom-20 pl-6 flex">
    <div class="flex mt-2">
      <img
        [src]="user.picture | userPicture"
        alt="User"
        class="w-11 h-11 rounded-full cursor-pointer"
        [matTooltip]="user | userRole"
        matTooltipPosition="right"
        [matTooltipDisabled]="isExpanded" />
    </div>
    <div>
      @if(isExpanded){
      <div class="flex flex-col ml-2 mt-3">
        <span class="text-sm">{{ user.fullname }}</span>
        <span class="text-xs text-customGreyFont">{{ user.role }}</span>
      </div>
      }
    </div>
  </footer>
</div>
