@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
  @apply bg-gray-100 text-gray-800;
  font-family: Poppins;
}

.custom-button {
  background-color: #3490dc;
  @apply text-white font-bold py-2 px-4 rounded;
}
